<%- include('partials/header') %>

            <!----------------------------- NAVBAR ------------------------------------- -->

<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dash">
    <i class="fab fa-pied-piper fa-2x logo-dash"></i>

    <span class="dashboard-head">
        <a class="nav-link text-light border-Dash" href="#">Dashboard</a>
    </span>
    <span class="navbar-content">
        <a class="nav-link text-light" href="/newentry">Add New</a>
    </span>
    <span class=" navbar-content">
        <a class="nav-link text-light" href="/yearpicker">See A Entry</a>
    </span>
  
    <div class="collapse navbar-collapse profile-icon" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-2x text-light"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/newentry">Add New</a>
            <a class="dropdown-item" href="/yearpicker">See A Entry</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
</nav>

            <!-----------------------------DASHBOARD PART ------------------------------------- -->

<div class="dashboard-container">
    <h1 class="dashboard-heading">Dashboard</h1>
    <div class="display-stats">
      <div class="display-stats-single" style="background-color: orange;">
        <svg class="svg-icon" style="width: 2.5em; height: 3em;  vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M365.714286 892.342857c-212.114286-14.628571-365.714286-80.457143-365.714286-168.228571v109.714285C0 936.228571 212.114286 1024 482.742857 1024H512c-65.828571-36.571429-109.714286-80.457143-146.285714-131.657143z m-29.257143-73.142857c-7.314286-29.257143-14.628571-58.514286-14.628572-87.771429 0-14.628571 0-29.257143 7.314286-43.885714C138.971429 672.914286 0 614.4 0 533.942857v109.714286c0 80.457143 138.971429 153.6 336.457143 175.542857z m7.314286-190.171429c14.628571-43.885714 43.885714-80.457143 80.457142-117.028571C182.857143 504.685714 0 438.857143 0 336.457143v109.714286c0 87.771429 146.285714 160.914286 343.771429 182.857142zM775.314286 512H687.542857v175.542857H512v87.771429h175.542857V950.857143h87.771429v-175.542857H950.857143V687.542857h-175.542857V512zM512 0C226.742857 0 0 95.085714 0 219.428571s226.742857 219.428571 512 219.428572h14.628571c102.4-58.514286 241.371429-95.085714 387.657143-95.085714h21.942857C994.742857 307.2 1024 263.314286 1024 219.428571c0-124.342857-226.742857-219.428571-512-219.428571z"  /></svg>
        <div class="display-stats-text">
          <h4>Receipt</h4>
          <p>₹<%=income%></p>
        </div>
      </div>
      <div class="display-stats-single" style="background-color: seagreen;">
        <svg class="svg-icon" style="width: 3em; height: 3.5em; margin-top:1%; vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M768 192 256 192C217.6 192 192 217.6 192 256l0 576c0 38.4 25.6 64 64 64l512 0c38.4 0 64-25.6 64-64L832 256C832 217.6 806.4 192 768 192zM800 819.2c0 25.6-19.2 51.2-51.2 51.2L268.8 870.4c-25.6 0-51.2-19.2-51.2-51.2L217.6 268.8c0-25.6 19.2-51.2 51.2-51.2l480 0c25.6 0 51.2 19.2 51.2 51.2L800 819.2z"  /><path d="M704 192 320 192l0 0c0-38.4 25.6-64 64-64l256 0C678.4 128 704 153.6 704 192L704 192z"  /><path d="M684.8 326.4 537.6 326.4c-6.4 0-19.2-6.4-19.2-19.2l0 0c0-6.4 6.4-19.2 19.2-19.2l147.2 0c6.4 0 19.2 6.4 19.2 19.2l0 0C704 313.6 697.6 326.4 684.8 326.4z"  /><path d="M684.8 403.2 537.6 403.2C531.2 403.2 524.8 390.4 524.8 384l0 0c0-6.4 6.4-19.2 19.2-19.2l147.2 0C697.6 364.8 704 371.2 704 384l0 0C704 390.4 697.6 403.2 684.8 403.2z"  /><path d="M684.8 486.4 537.6 486.4c-6.4 0-19.2-6.4-19.2-19.2l0 0C524.8 460.8 531.2 448 537.6 448l147.2 0C697.6 448 704 460.8 704 467.2l0 0C704 480 697.6 486.4 684.8 486.4z"  /><path d="M684.8 569.6 537.6 569.6c-6.4 0-19.2-6.4-19.2-19.2l0 0c0-6.4 6.4-19.2 19.2-19.2l147.2 0c6.4 0 19.2 6.4 19.2 19.2l0 0C704 563.2 697.6 569.6 684.8 569.6z"  /><path d="M684.8 646.4 339.2 646.4C326.4 646.4 320 640 320 633.6l0 0c0-6.4 6.4-19.2 19.2-19.2l345.6 0c6.4 0 19.2 6.4 19.2 19.2l0 0C697.6 640 691.2 646.4 684.8 646.4z"  /><path d="M684.8 729.6 339.2 729.6c-6.4 0-19.2-6.4-19.2-19.2l0 0c0-6.4 6.4-19.2 19.2-19.2l345.6 0c6.4 0 19.2 6.4 19.2 19.2l0 0C697.6 716.8 691.2 729.6 684.8 729.6z"  /><path d="M684.8 800 339.2 800c-6.4 0-19.2-6.4-19.2-19.2l0 0c0-6.4 6.4-19.2 19.2-19.2l345.6 0c6.4 0 19.2 6.4 19.2 19.2l0 0C697.6 793.6 691.2 800 684.8 800z"  /><path d="M326.4 480C345.6 492.8 364.8 499.2 384 499.2c12.8 0 19.2 0 25.6-6.4 6.4-6.4 6.4-6.4 6.4-12.8 0-6.4 0-12.8-6.4-12.8C409.6 460.8 396.8 454.4 377.6 441.6 345.6 428.8 326.4 409.6 326.4 384c0-19.2 6.4-32 19.2-44.8C364.8 326.4 384 320 403.2 320c19.2 0 38.4 0 51.2 6.4l0 38.4C441.6 364.8 428.8 358.4 409.6 358.4c-12.8 0-19.2 0-25.6 6.4C377.6 364.8 371.2 371.2 371.2 377.6c0 6.4 0 12.8 6.4 12.8C384 396.8 396.8 403.2 409.6 409.6 428.8 422.4 448 428.8 454.4 441.6 460.8 448 467.2 460.8 467.2 473.6c0 19.2-6.4 32-19.2 44.8C428.8 531.2 409.6 537.6 384 537.6c-25.6 0-44.8-6.4-57.6-12.8L326.4 480z"  /><path d="M377.6 288l38.4 0 0 51.2-38.4 0 0-51.2Z"  /><path d="M377.6 524.8l38.4 0 0 51.2-38.4 0 0-51.2Z"  /></svg>
        <div class="display-stats-text">
          <h4>Expense</h4>
          <p>₹<%=expense%></p>
        </div>
      </div>
      <div class="display-stats-single" style="background-color: lightseagreen;">
        <svg class="svg-icon" style="width: 2.5em; height: 3em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M894.914 366.94v500h-750v-500h750m0-83.334h-750c-46.021 0-83.333 37.313-83.333 83.334v500c0 46.021 37.313 83.333 83.333 83.333h750c46.021 0 83.334-37.313 83.334-83.333v-500c0-46.02-37.312-83.334-83.334-83.334z"  /><path d="M894.914 575.273v83.332H686.58c-22.979 0-41.667-18.695-41.667-41.665s18.688-41.667 41.667-41.667h208.334m83.334-83.333H686.58c-69.03 0-125 55.969-125 125s55.97 125 125 125h291.668v-250zM728.248 158.708v8.26l1.616 8.077 21.729 108.663H144.914v-125h583.334m0-83.333H144.914c-46.021 0-83.333 37.313-83.333 83.333v208.333h791.667L811.58 158.708c0-46.02-37.312-83.333-83.332-83.333z"  /></svg>
        <div class="display-stats-text">
          <h4>Total</h4>
          <p>₹<%=total%></p>
        </div>
      </div>
    </div>
    <h1 class="dashboard-heading">Recent Transactions</h1>
    <div>
      <div class="head-bar">
        <span>Date</span>
        <span class="head-element">Type</span>
        <span class="head-element">Category</span>
        <span class="head-element">Amount</span>
        <span class="head-element">Description</span>
      </div>
      <form action="/delete-item" method="post">
      <%transactions.forEach((item)=>{%>
        <%if(index%2!==0){%>
        <div class="gray-box bg-dark head-bar">
          <span class="date"><%=item.date%></span>
          <span class="type"><%=item.typeOfTransaction%></span>
          <span class="category"><%=item.categoryOftransaction%></span>
          <span class="amount"><%=item.amountOfTransaction%></span>
          <span class="description"><%=item.description%></span>
          <label class="delete-icon">
            <input   type="submit" name="button" value="<%=item._id%>" class="input-btn">
            <svg class="svg-icon delete-icon" style="width: 1em; height: 1em; color:white; vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M223.595474 318.284043l24.022113 480.742089c0 54.376445 44.989657 98.456383 100.485599 98.456383l331.963601 0c55.494918 0 100.489692-44.078914 100.489692-98.456383l23.109324-480.742089L223.595474 318.284043zM831.749418 284.181341c0.099261-20.274766 0.158612-21.623483 0.158612-22.981411 0-52.871161-31.298843-81.888032-73.29533-81.888032l-116.892267 0.122797c0-27.751041-27.105335-50.245358-54.855352-50.245358L441.349917 129.189338c-27.744901 0-55.727209 22.494317-55.727209 50.245358l-117.013017-0.122797c-46.387493 0-73.29533 35.359322-73.29533 81.888032 0 1.363044 0.054235 2.706645 0.158612 22.981411l636.281561 0L831.749418 284.181341zM614.168937 444.615287c0-15.32708 12.421914-27.750017 27.744901-27.750017 15.32708 0 27.750017 12.422937 27.750017 27.750017l0 317.882907c0 15.328104-12.422937 27.751041-27.750017 27.751041-15.322987 0-27.744901-12.422937-27.744901-27.751041L614.168937 444.615287 614.168937 444.615287zM485.85862 444.615287c0-15.32708 12.42703-27.750017 27.751041-27.750017 15.32708 0 27.750017 12.422937 27.750017 27.750017l0 317.882907c0 15.328104-12.422937 27.751041-27.750017 27.751041-15.322987 0-27.751041-12.422937-27.751041-27.751041L485.85862 444.615287 485.85862 444.615287zM357.63733 444.615287c0-15.32708 12.422937-27.750017 27.751041-27.750017 15.321964 0 27.750017 12.422937 27.750017 27.750017l0 317.882907c0 15.328104-12.42703 27.751041-27.750017 27.751041-15.328104 0-27.751041-12.422937-27.751041-27.751041L357.63733 444.615287 357.63733 444.615287zM357.63733 444.615287"  />
              <rect width="1" height="1"></rect>
            </svg>
          </label>
        </div>
        <%}else{%>
        <div class="gray-box head-bar">
          <span class="date"><%=item.date%></span>
          <span class="type"><%=item.typeOfTransaction%></span>
          <span class="category"><%=item.categoryOftransaction%></span>
          <span class="amount"><%=item.amountOfTransaction%></span>
          <span class="description"><%=item.description%></span>
          <label class="delete-icon">
            <input type="submit"  name="button" value="<%=item._id%>" class="input-btn">
            <svg class="svg-icon delete-icon" style="width: 1em; height: 1em; color:white; vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M223.595474 318.284043l24.022113 480.742089c0 54.376445 44.989657 98.456383 100.485599 98.456383l331.963601 0c55.494918 0 100.489692-44.078914 100.489692-98.456383l23.109324-480.742089L223.595474 318.284043zM831.749418 284.181341c0.099261-20.274766 0.158612-21.623483 0.158612-22.981411 0-52.871161-31.298843-81.888032-73.29533-81.888032l-116.892267 0.122797c0-27.751041-27.105335-50.245358-54.855352-50.245358L441.349917 129.189338c-27.744901 0-55.727209 22.494317-55.727209 50.245358l-117.013017-0.122797c-46.387493 0-73.29533 35.359322-73.29533 81.888032 0 1.363044 0.054235 2.706645 0.158612 22.981411l636.281561 0L831.749418 284.181341zM614.168937 444.615287c0-15.32708 12.421914-27.750017 27.744901-27.750017 15.32708 0 27.750017 12.422937 27.750017 27.750017l0 317.882907c0 15.328104-12.422937 27.751041-27.750017 27.751041-15.322987 0-27.744901-12.422937-27.744901-27.751041L614.168937 444.615287 614.168937 444.615287zM485.85862 444.615287c0-15.32708 12.42703-27.750017 27.751041-27.750017 15.32708 0 27.750017 12.422937 27.750017 27.750017l0 317.882907c0 15.328104-12.422937 27.751041-27.750017 27.751041-15.322987 0-27.751041-12.422937-27.751041-27.751041L485.85862 444.615287 485.85862 444.615287zM357.63733 444.615287c0-15.32708 12.422937-27.750017 27.751041-27.750017 15.321964 0 27.750017 12.422937 27.750017 27.750017l0 317.882907c0 15.328104-12.42703 27.751041-27.750017 27.751041-15.328104 0-27.751041-12.422937-27.751041-27.751041L357.63733 444.615287 357.63733 444.615287zM357.63733 444.615287"  />
              <rect width="1" height="1"></rect>
            </svg>
          </label>
        </div>
        <%}%>
        <%index++%>
      <%})%>
    </form>
    </div>
</div>

<%- include('partials/footer') %>